* {
    margin: 0;
    padding: 0; }
  
  /*encabezado*/
  .encabezado{
      background-color: orangered;
  }
  @mixin MixinEncabezado {
    border-top: 20px;
    background-color: orangered; }
  
  h1 {
      @include MixinEncabezado;
    font-size: 50px;
    height: 80px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin-bottom: 0px; }
  
  /*encabezado*/
  .logo {
    position: relative;
    left: 470px; }
  
  /*nav generico*/
  nav{

    height: 100px;
    width: 100%;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url(../img/fuego.jpg);
    }
  
  .rutas {
      display: inline-block;
    font-size: 20px;
    padding: 30px; }
  
  /*nav generico*/
  /*main de todas las paginas*/
  main {
    background-color: #e68609;
    text-align: center;
    font-size: 30px;
 }
  
  .contenido {
    @extend main;
    padding: 10px; }
  
  .largoproductos {
      @extend main;
    height: 2000px;
    width: 100%;
 }
  
  .largosucursales {
      @extend main;
    height: 1450px;
    width: 100%;
 }
  .largocontacto{
        height: 1175px;
    }

  .largoquienessomos{
      @extend main;
        height: 800px;
        width: 100%;

    }
    
   #padre{
       @extend main;
        font-size: 30px;
        padding-top: 35px;
        height: 500px;
    }
  
  /*main de todas las paginas*/
  /*footer generico*/
  footer {
    top: 20px;
    height: 140px;
    background-color: black;
    text-align: center; 
}
  
  .redes {
    display: inline-block;
    width: 220px;
    justify-content: space-around; }

  .titulo{
        color: white;
        text-align: center;
        
    }
  
  /*footer generico*/
  